* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-weight: 300;
    font-family: sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    article {
        width: 95vw;
        height: 100vh;
        background-color: #F2F2F2;
        flex-direction: column;
        display: flex;
        align-items: center;
        header {
            h1 {
                color: #F2F2F2;
                background-color:#D93B3B ;
                margin-top: 2vh;
                padding: 1vw;
                border-radius: 5px;

            }
        }
        .textOutput {
            width: 89vw;
            height: 70vh;
            border-radius: 10px;
            flex-direction: column;
            display: flex;
            overflow: auto;
                p {
                    font-size: 25px;
                    margin: 0.2vh;
                    color: #2F3237;
                }
                h3 {
                    font-size: 30px;
                    margin: 0.2vh;
                }
        }
        .textInput{
        margin-top: 1vh;
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        width: 90vw;
            input {
                width: 100%;
                height: 5vh;
                font-size: 20px;
                border: none;
                border-bottom: 1px solid rgba($color: #D93B3B, $alpha: 1);
                padding: 5px;
                .message {
                    color: red;
                }
            }
            button {
                cursor: pointer;
                width: 100%;
                height: 5vh;
                border: none;
                border-bottom: 1px solid rgba($color: #D93B3B, $alpha: 1);
                transition: 0.5s;
                &:hover {
                    background-color: rgba($color: #D93B3B, $alpha: 0.6);
                }
            }
        }
    }
}